<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuotelinkSpire.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section configures My.Application.Log -->
      <source name="QuoteLink" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog"
            type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            initializeData="FileLogWriter" />
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <QuotelinkSpire.My.MySettings>
      <setting name="SlspnStringText" serializeAs="String">
        <value />
      </setting>
      <setting name="DSNNameText" serializeAs="String">
        <value />
      </setting>
      <setting name="DSNServerText" serializeAs="String">
        <value />
      </setting>
      <setting name="DescriptionCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncPriceCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncCostCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NewCustomerCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateItemCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemNumberMapCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransTypeCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NewItemCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterTypeCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterStageCombo" serializeAs="String">
        <value />
      </setting>
      <setting name="InvSyncWarehouseCombo" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultWarehouseCombo" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSQLBackendCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SQLServerText" serializeAs="String">
        <value />
      </setting>
      <setting name="SQLDatabaseText" serializeAs="String">
        <value />
      </setting>
      <setting name="SQLUsernameText" serializeAs="String">
        <value />
      </setting>
      <setting name="SQLPasswordText" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultProfile" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Profile1Name" serializeAs="String">
        <value>Profile 1</value>
      </setting>
      <setting name="Profile2Name" serializeAs="String">
        <value>Profile 2</value>
      </setting>
      <setting name="SellPriceLevelCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BOMComboBox" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Profile3Name" serializeAs="String">
        <value>Profile 3</value>
      </setting>
      <setting name="QWInstallation" serializeAs="String">
        <value />
      </setting>
      <setting name="SequentialCustCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SuppressSlspnWarningCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IntroductionNotesCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClosingNotesCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PurchasingNotesCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InternalNotesCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DateMapCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerNoMap" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerNameMap" serializeAs="String">
        <value>29</value>
      </setting>
      <setting name="CustAddr1Map" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="CustAddr2Map" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="CustAddr3Map" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="CustCityMap" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="CustPostalCodeMap" serializeAs="String">
        <value>37</value>
      </setting>
      <setting name="CustProvinceMap" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="CustCountryMap" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="CustPhoneMap" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="CustEmailMap" serializeAs="String">
        <value>41</value>
      </setting>
      <setting name="SpireURLText" serializeAs="String">
        <value />
      </setting>
      <setting name="SpireUsernameText" serializeAs="String">
        <value />
      </setting>
      <setting name="SpirePasswordText" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSyncSellPriceLevelCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TerrSpreadsheetLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="TerrWorksheet" serializeAs="String">
        <value />
      </setting>
      <setting name="VendorStringText" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomerNoMapCombo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TerritoryMapCombo" serializeAs="String">
        <value>0</value>
      </setting>
    </QuotelinkSpire.My.MySettings>
  </userSettings>
</configuration>
